In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('C:/Users/Mehmet Ersolak/Documents/GitHub/Data_Science_Project/StudyHoursMachineLeraning/Data_Set/2-multiplegradesdataset.csv')
df.head()

   Study Hours  Sleep Hours  Attendance Rate  Social Media Hours  Exam Score
0          4.7          7.3             82.9                 3.3        80.7
1          3.8          6.6             87.9                 3.3        76.0
2          5.0          6.3             88.3                 2.3        89.1
3          6.3          7.6             86.0                 3.2        95.9
4          3.6          8.0             89.2                 3.3        70.5

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Study Hours,50.0,3.668,1.401230,1.1,2.675,3.60,4.500,6.8
Sleep Hours,50.0,7.022,0.874419,4.4,6.500,7.05,7.575,8.6
Attendance Rate,50.0,89.736,4.924813,80.4,85.625,90.10,92.550,100.0
Social Media Hours,50.0,3.090,0.896990,1.5,2.225,3.20,3.575,5.7
Exam Score,50.0,76.070,11.709150,56.9,68.075,73.55,84.175,100.0

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Study Hours         50 non-null     float64
 1   Sleep Hours         50 non-null     float64
 2   Attendance Rate     50 non-null     float64
 3   Social Media Hours  50 non-null     float64
 4   Exam Score          50 non-null     float64
dtypes: float64(5)
memory usage: 2.1 KB

In [7]:
df.isnull().sum()

Study Hours           0
Sleep Hours           0
Attendance Rate       0
Social Media Hours    0
Exam Score            0
dtype: int64

In [8]:
df.corr(numeric_only=True)

,Study Hours,Sleep Hours,Attendance Rate,Social Media Hours,Exam Score
Study Hours,1.000000,0.114015,-0.112860,0.115023,0.804266
Sleep Hours,0.114015,1.000000,-0.222024,-0.177166,0.227694
Attendance Rate,-0.112860,-0.222024,1.000000,0.068272,0.123791
Social Media Hours,0.115023,-0.177166,0.068272,1.000000,-0.248743
Exam Score,0.804266,0.227694,0.123791,-0.248743,1.000000

In [ ]:
sns.heatmap(df.corr(numeric_only=True), cmap = 'coolwarm', annot = True)
plt.title('Correlations With All Columns Each Other')